@inherits Custom.Hybrid.RazorTyped
@using ToSic.Sxc.Services

@{
  var user = MyModel.Get<ToSic.Sxc.Cms.Users.IUserModel>("user");
}

<hr>
<pre>
  Username: @user.Username
  Name: @user.Name
  Email: @user.Email
  Id: @user.Id
  IsAnonymous: @user.IsAnonymous
  IsSiteAdmin: @user.IsSiteAdmin
  IsContentAdmin: @user.IsContentAdmin
  IsSystemAdmin: @user.IsSystemAdmin
  IsSiteDeveloper: @user.IsSiteDeveloper
</pre>

<h3>Roles: @user.Roles.Count()</h3>
<ol>
  @foreach (var role in user.Roles)
  {
    <li>@role.Id</li>
    <li>@role.Name</li>
  }
</ol>
