@inherits Custom.Hybrid.RazorTyped
@using AppCode.TestHelpers

<h1>Toolbar Service - Data Buttons</h1>
<p>
  Show various cases where a toolbar service creates admin-buttons
</p>
@{
  var tlbTest = GetService<ToolbarTestHelper>();

  var parentName = "DataWithRelationshipParent";
  var childName = "DataWithRelationshipChild";

  var aParent = AsItems(App.Data.GetStream(parentName).First());
  var aChild = AsItems(App.Data.GetStream(childName)).First();

  var children2 = AsItems(App.Data.GetStream(childName)).Take(2);
  var childIds2 = children2.Select(d => d.Id);
  var childIdsArray = childIds2.ToArray();
  var childIdsString2 = string.Join(",", childIds2);

  var dataFiltered = Kit.Toolbar.Empty().Data("Dummy", filter: new { FavoriteNumber = 11 });
  var empty = Kit.Toolbar.Empty();

  var skipLots = true;
}

@if (skipLots)
{
  <p>
    Skipping lots of tests, to see more, set <code>skipLots = false</code>
  </p>
}

@if (!skipLots)
{
  <ol>
    @tlbTest.LiToolbarAndJson("Basic, no params", "classic",
      empty.Data())

    @tlbTest.LiToolbarAndJson("Basic, params current content-item", "classic",
      empty.Data(MyItem))

    @tlbTest.LiToolbarAndJson("Basic, params another item (should take it's content-type)", "classic",
      empty.Data(aParent))

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string", "classic",
      empty.Data(parentName))
  </ol>

  <h3>Basic, just content-type name as string</h3>
  <ol>

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as string", "classic",
      empty.Data(parentName, filter: "Child=" + aChild.Id))

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as string", "tweak",
      empty.Data(parentName, tweak: b => b.Filter("Child=" + aChild.Id)))

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as string", "tweak-kvp",
      empty.Data(parentName, tweak: b => b.Filter("Child", aChild.Id)))

  </ol>

  <h3>Multi-filter tweak</h3>
  <ol>
    @tlbTest.LiToolbarAndJson("two values each KVP", "tweak-kvp",
      empty.Data(parentName, tweak: b => b.Filter("Child", "[" + aChild.Id + "]").Filter("Field2", "value2")))

    @tlbTest.LiToolbarAndJson("two values each string-pair", "tweak-kvp",
      empty.Data(parentName, tweak: b => b.Filter("Child=" + aChild.Id).Filter("Field2=value2")))

    @tlbTest.LiToolbarAndJson("two values object and string-pair", "tweak-kvp",
      empty.Data(parentName, tweak: b => b.Filter(new { Child = aChild.Id}).Filter("Field2=value2")))

    @tlbTest.LiToolbarAndJson("child INT ARRAY", "tweak-kvp",
      empty.Data(parentName, tweak: b => b.Filter("Child", childIdsArray).Filter("Field2=value2")))

  </ol>
}

<ol>
  @tlbTest.LiToolbarAndJson("child INT ARRAY", "tweak-kvp",
    empty.Data(parentName, tweak: b => b.Filter("Child", childIdsArray).Filter("Field2=value2")))

</ol>

@if (!skipLots)
{
  <h3>Basic, just content-type name as string, filter as [string]</h3>
  <ol>

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as [string]", "classic",
      empty.Data(parentName, filter: "Child=[" + aChild.Id + "]"))

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as [string]", "tweak",
      empty.Data(parentName, tweak: b => b.Filter("Child=[" + aChild.Id + "]")))

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as [string]", "tweak-kvp",
      empty.Data(parentName, tweak: b => b.Filter("Child", "[" + aChild.Id + "]")))

  </ol>

  <h3>More / older direct filter: parameter</h3>
  <ol>

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as [int,int]", "classic",
      empty.Data(parentName, filter: "Children=[" + childIdsString2 + "]"))

    @tlbTest.LiToolbarAndJson("Basic, just content-type name as string, filter as object", "classic",
      empty.Data(parentName, filter: new { Child = aChild.Id }))

    @tlbTest.LiToolbarAndJson("Filter as object, giving it a child", "classic",
      empty.Data(parentName, filter: new { Child = aChild }))

    @tlbTest.LiToolbarAndJson("Filter as an int[] ENUMERABLE of numbers", "classic",
      empty.Data(parentName, filter: new { Child = childIds2 }))

    @tlbTest.LiToolbarAndJson("Filter as an int[] ARRAY of numbers", "classic",
      empty.Data(parentName, filter: new { Child = childIdsArray }))

    @tlbTest.LiToolbarAndJson("Filter by giving it an IEnumerable of children", "classic",
      empty.Data(parentName, filter: new { Child = children2 }))

    @tlbTest.LiToolbarAndJson("Another property, not relevant but just for demo", "classic",
      empty.Data("Dummy", filter: new { FavoriteNumber = 11 }))


  </ol>
}