@inherits Custom.Hybrid.RazorTyped

<h1>Toolbar Service - Edit, New, Publish, etc.</h1>
<p>
  Show various cases where a toolbar service is just to-HTMLed
</p>
@{

  var itemToCopy = AsItem(App.Data["Dummy"].First());

  // var typedItem = AsTyped(App.Data["Dummy"].First());
  var cmsItem = AsItem(App.Data["Dummy"].First());

  var pub1 = Kit.Toolbar.Empty().Publish(itemToCopy);
  var pub1f = Kit.Toolbar.Empty().Publish(itemToCopy, operation: "add");
  var pub2 = Kit.Toolbar.Empty(itemToCopy).Publish();

  var new1 = Kit.Toolbar.Empty().New("Dummy", prefill: new { Title = "hello" });
  var newPerfillTweak = Kit.Toolbar.Empty().New("Dummy", tweak: b => b.Prefill(new { Title = "hello" }));
}


<hr>
<h2>Form Parameters</h2>

<ol>
  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Try to work with Fields - show",
    Toolbar = Kit.Toolbar.Empty().New("FormulaFormParameters", tweak: b => b
      .Prefill("prefill=abc")
      .FormParameters("SomeMessage=This is a message")
    )
  })
</ol>

<hr>
<h2>Fields</h2>

<ol>
  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Try to work with Fields - show",
    Toolbar = Kit.Toolbar.Empty().Edit(cmsItem, tweak: b => b
      .Parameters("fields=Title,Body")
      .Icon("<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"48\" viewBox=\"0 96 960 960\" width=\"48\"><path d=\"M180 1044q-24 0-42-18t-18-42V384q0-24 18-42t42-18h405l-60 60H180v600h600V636l60-60v408q0 24-18 42t-42 18H180Zm300-360Zm182-352 43 42-285 284v86h85l286-286 42 42-303 304H360V634l302-302Zm171 168L662 332l100-100q17-17 42.311-17T847 233l84 85q17 18 17 42.472T930 402l-97 98Z\"/></svg>"))
  })

  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Try to work with Fields - hide Body",
    Toolbar = Kit.Toolbar.Empty().Edit(cmsItem, tweak: b => b.Parameters("fields=-Body"))
  })
</ol>


<hr>
<h2>More</h2>
<ol>
  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Edit Item on Command",
    Toolbar = Kit.Toolbar.Empty().Edit(cmsItem).New().New(cmsItem)
  })


  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Edit Item on Toolbar",
    Toolbar = Kit.Toolbar.Empty(cmsItem).Edit().New().New("Dummy")
  })

  <li>
    Publish Item on Command @Kit.Edit.Toolbar(pub1) - @pub1.AsTag()
    <br>
    @pub1.AsJson()
  </li>
  <li>
    Pub Item on Toolbar @Kit.Edit.Toolbar(itemToCopy, toolbar: pub2) - @pub2.AsTag()
    <br>
    @pub2.AsJson()
  </li>  
  <li>
    Publish Force show @Kit.Edit.Toolbar(pub1f) - @pub1f.AsTag()
    <br>
    @pub1.AsJson()
  </li>

  <li>
    New with prefill classic @new1.AsTag()
    <br>
    @new1.AsJson()
  </li>
  <li>
    New with prefill tweak @newPerfillTweak.AsTag()
    <br>
    @newPerfillTweak.AsJson()
  </li>
</ol>
