@inherits Custom.Hybrid.Razor14

<h1>Toolbar Service - Edit, New, Publish, etc.</h1>
<p>
  Show various cases where a toolbar service is just to-HTMLed
</p>
@{

  var itemToCopy = AsDynamic(App.Data["Dummy"].First());


  var pub1 = Kit.Toolbar.Empty().Publish(itemToCopy);
  var pub1f = Kit.Toolbar.Empty().Publish(itemToCopy, operation: "add");
  var pub2 = Kit.Toolbar.Empty(itemToCopy).Publish();

  var new1 = Kit.Toolbar.Empty().New("Dummy", prefill: new { Title = "hello" });
  var newPerfillTweak = Kit.Toolbar.Empty().New("Dummy", tweak: b => b.Prefill(new { Title = "hello" }));
}

<ol>

  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Try to work with Fields - show",
    Toolbar = Kit.Toolbar.Empty().Edit(itemToCopy, fields: "Title,Body")
  })
  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Try to work with Fields - hide Body",
    Toolbar = Kit.Toolbar.Empty().Edit(itemToCopy, fields: "-Body")
  })

  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Edit Item on Command",
    Toolbar = Kit.Toolbar.Empty().Edit(itemToCopy).New().New(itemToCopy)
  })


  @Html.Partial("./_Helpers/ShowDebugToolbar.cshtml", new {
    Title = "Edit Item on Toolbar",
    Toolbar = Kit.Toolbar.Empty(itemToCopy).Edit().New().New("Dummy")
  })

  <li>
    Publish Item on Command @Edit.Toolbar(pub1) - @pub1.AsTag()
    <br>
    @pub1.AsJson()
  </li>
  <li>
    Pub Item on Toolbar @Edit.Toolbar(itemToCopy, toolbar: pub2) - @pub2.AsTag()
    <br>
    @pub2.AsJson()
  </li>  
  <li>
    Publish Force show @Edit.Toolbar(pub1f) - @pub1f.AsTag()
    <br>
    @pub1.AsJson()
  </li>

  <li>
    New with prefill classic @new1.AsTag()
    <br>
    @new1.AsJson()
  </li>
  <li>
    New with prefill tweak @newPerfillTweak.AsTag()
    <br>
    @newPerfillTweak.AsJson()
  </li>
</ol>
