@inherits Custom.Hybrid.Razor14

<h1>Toolbar Service - Info Buttons - new/wip 15.04</h1>
<p>
  todo
</p>
@{
  var empty = Kit.Toolbar.Empty() as ToSic.Sxc.Edit.Toolbar.ToolbarBuilder;
}
<h2>infos</h2>
<ol>
  <li>
    <strong>Default - using tweak</strong>
    @{
      var tlbInfo = empty.Info(tweak: b => b.Note(Resources.Toolbar.IsDemoSubItem, background: "yellow"));
    }
    Show as tag: @tlbInfo.AsTag()
    <br>
    @tlbInfo.AsJson()
  </li>
  <li>
    <strong>Empty</strong>
    @{ tlbInfo = empty.Info(); }
    Show as tag: @tlbInfo.AsTag()
    <br>
    @tlbInfo.AsJson()
  </li>
  <li>
    <strong>Message</strong>
    @{ tlbInfo = empty.Info(tweak: b => b.Note("this is a test!"), link: "//2sxc.org"); }
    Show as tag: @tlbInfo.AsTag()
    <br>
    @tlbInfo.AsJson()
  </li>
</ol>

<hr>
<h2>Links</h2>
@{

  var tlbHelp = empty.Info(tweak: b => b.Note("check out the help", type: "help"), link: "//google.com");

  var tlbLink = empty.Info(tweak: b => b.Note("check out the help", type: "warning"), link: "//google.com");

}
<ol>
  <li>
    Show as tag: @tlbInfo.AsTag()
    <br>
    @tlbInfo.AsJson()
  </li>
  <li>
    Show as tag: @tlbHelp.AsTag()
    <br>
    @tlbHelp.AsJson()
  </li>
  <li>
    Show as tag: @tlbLink.AsTag()
    <br>
    @tlbLink.AsJson()
  </li>
</ol>