@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using ToSic.Sxc.Edit.Toolbar;

<h1>Toolbar Service - Params</h1>
<p>
  Show various cases with params.
</p>
@{
  var tlbTest = CreateInstance("ToolbarServiceTests.cs");

  var LayoutOnly = Kit.Toolbar.Empty().Layout();

  var itemToCopyTyped = App.Data["Dummy"].First();
  var itemToCopy = AsDynamic(itemToCopyTyped);

  var codeSpace = Kit.Toolbar.Empty().Code("call me");
  var codeBracket = Kit.Toolbar.Empty().Code("callMe(27)");
}

<h2>New complex FormSettings</h2>

<ol>
  @tlbTest.TbTestAsTag("Language UI DE/EN",
    Kit.Toolbar.Empty().Edit(itemToCopyTyped,
      tweak: t => t.Parameters(new { dialogSettings = new { languageUi = "de-de", languageForm = "en-us" }})
    )
  )

  @tlbTest.TbTestAsTag("Language UI DE!/EN",
    Kit.Toolbar.Empty().Edit(itemToCopyTyped,
      tweak: t => t.Parameters(new { dialogSettings = new { languageUi = "de-de!", languageForm = "en-us" }})
    )
  )

  @tlbTest.TbTestAsTag("Language UI DE!/EN!",
    Kit.Toolbar.Empty().Edit(itemToCopyTyped,
      tweak: t => t.Parameters(new { dialogSettings = new { languageUi = "de-de!", languageForm = "en-us!" }})
    )
  )

  @tlbTest.TbTestAsTag("Language UI DE/EN - not-configurable",
    Kit.Toolbar.Empty().Edit(itemToCopyTyped,
      tweak: t => t.Parameters(new { dialogSettings = new { languageUserSettings = false, languageUi = "de-de!", languageForm = "en-us" }})
    )
  )


</ol>

<h2>Simple cases</h2>

<ol>
  @tlbTest.TbTestAsTag("Simple string param",
    LayoutOnly.Parameters("test=1"))
  @tlbTest.TbTestAsTag("Simple string param 2x",
    LayoutOnly.Parameters("test=1&id=7"))
  @tlbTest.TbTestAsTag("Simple obj param - ID will become iD",
    LayoutOnly.Parameters(new { test = "simple", ID = 27 }))

  @tlbTest.TbTestAsTag("Simple string param in parameters",
    LayoutOnly.Parameters(parameters: "test=1"))
  @tlbTest.TbTestAsTag("Simple string param 2x in parameters",
    LayoutOnly.Parameters(parameters: "test=1&id=7"))
  @tlbTest.TbTestAsTag("Simple obj param in parameters",
    LayoutOnly.Parameters(parameters: new { test = "simple", ID = 27}))

  <hr>
  @tlbTest.TbTestAsTag("2 uses of parameters - should join into 3 params",
    LayoutOnly.Parameters("strTarget=true").Parameters(parameters: new { test = "simple", ID = 27}))
</ol>

<hr>
<h2>With target object</h2>
<ol>
  @tlbTest.TbTestAsTag("For-item and parameters",
    LayoutOnly.For(itemToCopy).Parameters(parameters: new { test = "simple", ID = 27}))
  @tlbTest.TbTestAsTag("Parameters with item in target",
    LayoutOnly.Parameters(itemToCopy, parameters: new { test = "simple", ID = 27}))
</ol>


<hr>
<h2>Prefill</h2>
<ol>
  @tlbTest.TbTestAsTag("With Prefill - note that case is preserved",
    Kit.Toolbar.Empty(itemToCopy, parameters: "test=5", prefill: new { Ok = true, Idx = "idx2"}))
</ol>
