@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;

<h1>Image Service Service - Picture Properties</h1>
<p>
  Testing with data of <code>ImageServiceTests</code>
</p>

@Html.Partial("./Pic Properties.Part OneFile.cshtml", new { TestId = "meta-no-title-fallback", Title = "Meta with empty title, should fallback" })

@Html.Partial("./Pic Properties.Part OneFile.cshtml", new { TestId = "meta-title", Title = "Meta with title" })

@Html.Partial("./Pic Properties.Part OneFile.cshtml", new { TestId = "meta-no-title-no-fallback", Title = "Meta with title, should NOT fallback" })


@Html.Partial("./Pic Properties.Part OneFile.cshtml", new { TestId = "no-meta-gif", Title = "GIF, no Meta - should have small HTML and no titles" })

@Html.Partial("./Pic Properties.Part OneFile.cshtml", new { TestId = "no-meta-jpeg", Title = "JGEP, no Meta - should have big HTML and no titles" })

