@inherits Custom.Hybrid.RazorTyped
@using ThisApp.Code;

<h1>Test implicit usings in Razor compiler</h1>
<p>Test 1: select razor version <strong>12</strong> or <strong>14</strong> to test with default razor compiler</p>
<p>Test 2: select razor version <strong>Typed</strong> to test with 2sxc roslyn razor compiler</p>

@functions{
  public string CheckType(string typeName)
  {
    try
    {
      return Type.GetType(typeName)?.FullName ?? $"{typeName} is unknonwn.";
    }
    catch (Exception ex)
    {
      return ex.Message;
    }
  }
}

<hr>

<h2>1. based on 'obj/*/*.GlobalUsings.g.cs' for Microsoft.NET.Sdk</h2>

<h3>implicit using System</h3>
@{
  // Using System.DateTime to get the current date and time
  var currentDateTime = DateTime.Now;
}
<p>The current date and time is: @currentDateTime</p>

<h3>implicit using System.Collections.Generic</h3>
@{
  // Create a list of strings
  var fruits = new List<string> { "Apple", "Banana", "Cherry", "Date" };

  // Adding an item to the list
  fruits.Add("Elderberry");
}
<p>List count: @fruits.Count</p>

<h3>System.IO in not implicit using in Oqtane razor</h3>
@{
  var tempFile = System.IO.Path.GetTempFileName();
  using (System.IO.StreamWriter writer = System.IO.File.CreateText(tempFile))
  {
    writer.WriteLine("First line of example");
    writer.WriteLine("and second line");
  }
  System.IO.File.Delete(tempFile);
}
<p>File created and deleted: @tempFile</p>

<h3>implicit using System.Linq</h3>
@{
  var names = new List<string> { "Alice", "Bob", "Charlie", "David", "Eve" };

  // Using LINQ to filter names that start with 'C' and order them alphabetically
  var filteredNames = names.Where(n => n.StartsWith("C"));
}
<p>Name from list that starts with C: @filteredNames.FirstOrDefault()</p>

<h3>System.Net.Http in not referenced in DNN razor</h3>
<p>@CheckType("System.Net.Http.HttpClient")</p>

<h3>System.Threading is not implicit using in DNN razor</h3>
@{
  var t = 0;
  // Create a thread and start it
  var thread = new System.Threading.Thread(() => t = 1);
  thread.Start();
}
<p>Thread started: @t</p>

<h3>System.Threading.Tasks is not implicit using in DNN razor </h3>
@{
  // Create a task and wait for it to complete
  var task = System.Threading.Tasks.Task.Run(() => "This task has completed.");
  task.Wait();
}
<p>Task result: @task.Result</p>

<hr>

<h2>2. based on 'obj/*/*.GlobalUsings.g.cs' for Microsoft.NET.Sdk.Web</h2>

<h3>System.Net.Http.Json is not referenced in DNN razor</h3>
<p>@CheckType("System.Net.Http.Json.JsonContent")</p>

<h3>Microsoft.AspNetCore.Builder is not referenced in DNN razor</h3>
<p>@CheckType("Microsoft.AspNetCore.Builder.IApplicationBuilder")</p>

<h3>Microsoft.AspNetCore.Hosting is not referenced in DNN razor</h3>
<p>@CheckType("Microsoft.AspNetCore.Hosting.IWebHostEnvironment")</p>

<h3>Microsoft.AspNetCore.Http is not referenced in DNN razor</h3>
<p>@CheckType("Microsoft.AspNetCore.Http.HttpRequest")</p>

<h3>Microsoft.AspNetCore.Routing is not referenced in DNN razor</h3>
<p>@CheckType("Microsoft.AspNetCore.Routing.RouteBuilder")</p>

<h3>Microsoft.Extensions.Configuration is not implicit using in DNN razor</h3>
<p>@CheckType("Microsoft.Extensions.Configuration.IConfiguration")</p>

<h3>Microsoft.Extensions.DependencyInjection is not implicit using in DNN razor</h3>
<p>@CheckType("Microsoft.Extensions.DependencyInjection.IServiceCollection")</p>

<h3>Microsoft.Extensions.Hosting is not referenced in DNN razor</h3>
<p>@CheckType("Microsoft.Extensions.Hosting.IHostEnvironment")</p>

<h3>Microsoft.Extensions.Logging is not implicit using in DNN razor</h3>
<p>@CheckType("Microsoft.Extensions.Logging.ILogger")</p>

<hr>

<h2>3. other usings</h2>

<h3>System.Text is not implicit using in DNN razor</h3>
<p>@CheckType("System.Text.Encoding")</p>

<h3>System.Web is not implicit using in Oqtane razor</h3>
<p>@CheckType("System.Web.HttpUtility")</p>

<h3>System.Web.UI is not referenced in Oqtane razor</h3>
<p>@CheckType("System.Web.UI.Control")</p>

<h3>System.Web.UI.WebControls is not referenced in Oqtane razor</h3>
<p>@CheckType("System.Web.UI.WebControls.Button")</p>

<h3>System.Web.WebPages is not referenced in Oqtane razor</h3>
<p>@CheckType("WebPageRenderingBase")</p>
