@inherits Custom.Hybrid.RazorTyped
@using ToSic.Sxc.Services;
@using ToSic.Razor.Blade;
@using AppCode;
@{
  string s = null;
  // s ??= "Hello"; // c# 8.0 Null-coalescing assignment not working
  // s ??= "Hello2";
}

<hr>
Test: @(new ShowTestData().BoolMoji(true))<br>

@{
  // Get all Paths
  string root, fullPath, cshtml, testPath;
  GetCode("./_Layout/HomeHelpers.cs").GetAllPaths(out root, out cshtml, out fullPath, out testPath);
}

@if(Text.Has(testPath)) {
  <h5>
    Test: 
    @testPath
    @GetCode("./_Layout/RazorVersion.cs").RazorWithVersionPicker(this)
  </h5>
}
@if (cshtml != null) {
  @Html.Partial(cshtml)
} else {
  <div class="alert alert-primary">
    No home file found. Please select a test below
  </div>
}

@Html.Partial("_Layout/Tree SubTests.cshtml", new { Path = root, SkipFiles = !Text.Has(testPath) })


<hr>
Test: @(new ShowTestData().BoolMoji(true))