@inherits Custom.Hybrid.RazorTyped
@using AppCode.Data

<h1>Edit UI Picker Lists</h1>
<p>
  We're working on editing inpage entity lists.
</p>
<hr />

@{
  var data = App.Data.GetAll<EditEntityListFromPage>().First();
}

<h2 @Kit.Toolbar.Default(data)>
  @data.Title
</h2>
<h3 @Kit.Toolbar.Default(data.EntitiesBasic)>Simple list, should just work</h3>
<ul>
  @foreach (var item in data.EntitiesBasic)
  {
    <li @Kit.Toolbar.Default(item)>
      @item.Title
    </li>
  }
  @if (!data.EntitiesBasic.Any())
  {
    <li>
      No items selected
    </li>
  }
</ul>

<h3 @Kit.Toolbar.Default(data.EntitiesPickerOne)>Picker, with one type stored somewhere</h3>
<ul>
  @foreach (var item in data.EntitiesPickerOne)
  {
    <li @Kit.Toolbar.Default(item)>
      @item.Title
    </li>
  }
  @if (!data.EntitiesPickerOne.Any())
  {
    <li>
      No items selected
    </li>
  }
</ul>

@{
  // special toolbar
  var toolbar = Kit.Toolbar
    .Default(data.EntitiesPickerMany)
    .New(tweak: t => t
      .Parameters("contentType", "DummyData2")
      .Tooltip("new dummy2")
    );
}
<h3 @toolbar>Picker, with multiple types stored somewhere</h3>
<ul>
  @foreach (var item in data.EntitiesPickerMany)
  {
    <li @Kit.Toolbar.Default(item)>
      @item.Title
    </li>
  }
  @if (!data.EntitiesPickerMany.Any())
  {
    <li>
      No items selected
    </li>
  }
</ul>
