@inherits ToSic.SexyContent.Razor.SexyContentWebPage
@{
  var test = CreateInstance("TestLog.cs");
}
<h1>@this.GetType()</h1>
<h2>@this.GetType().BaseType</h2>
<h3 style="color:red;">@Log.GetType()</h3>
<h3 style="color:red;">@test.SimpleTest(Log)</h3>
<pre>@test.DumpLog(Log)</pre>


@{
  var code = CreateInstance("LogDynamicCode.cs");
}
<hr>
<h1>@code.CodeType()</h1>
<h2>@code.BaseType()</h2>
<h3 style="color:red;">@code.LogType()</h3>
<h3 style="color:red;">@code.SimpleTest()</h3>
<pre>@code.DumpLog()</pre>


<hr>
<h1 id="codeType">...loading...</h1>
<h2 id="baseType">...loading...</h2>
<h3 id="logType" style="color:red;">...loading...</h3>
<h3 id="simpleTest" style="color:red;">...loading...</h3>
<pre id="dumpLog" turn-on='{ "run": "window.downloadJSAtOnload()" }'>...loading...</pre>
@{
  var page = GetService<ToSic.Sxc.Services.IPageService>();
  page.Activate("jQuery");
  page.Activate("2sxc.JsCore");
  page.Activate("turnOn");
}
<script type="text/javascript">
  // Use an IFFE to ensure the variables are not exposed globaly
  // See https://developer.mozilla.org/en-US/docs/Glossary/IIFE
  (() => {
    // The init function which should be called
    function downloadJSAtOnload() {
      $2sxc(@CmsContext.Module.Id).webApi
        .get('app/auto/BaseClasses/api/SxcApi/ApiTypeInfo')
        .then(data => {
          console.log(data);
          document.getElementById("codeType").innerHTML = data.codeType;
          document.getElementById("baseType").innerHTML = data.baseType;
          document.getElementById("logType").innerHTML = data.logType;
          document.getElementById("simpleTest").innerHTML = data.simpleTest;
          document.getElementById("dumpLog").innerHTML = data.dumpLog;
        });
    }
    // Generate a new object if none exists yet (best practice)
    window.downloadJSAtOnload = window.downloadJSAtOnload || downloadJSAtOnload;
  })();
</script>
