@inherits Custom.Hybrid.RazorPro
@using System.Linq;

<h1>Dynamic Code - Get Values - Dynamic object with Typed Accessors (16.01)</h1>
<p>
  Content-Type used: <code>TestGetValues</code>
</p>
@{
  var item = AsItem(App.Data["TestGetValues"].First());

  var show = GetCode("../_Shared/ShowValues.cs");
}
<ol>
  <li>Title: @item.String("Title")</li>
  <li>Text: @item.String("Text")</li>
  <li>String: @item.String("String")</li>
  <li>Number (int): @show.NumberWithTypeInfo(item.Int("Number"))</li>
  <li>Number (float): @show.NumberWithTypeInfo(item.Float("Number"))</li>
  <li>Number (double): @show.NumberWithTypeInfo(item.Double("Number"))</li>
  <li>Number (decimal): @show.NumberWithTypeInfo(item.Decimal("Number"))</li>
</ol>
