@inherits Custom.Hybrid.RazorPro
@using System.Linq;

<h1>Dynamic Code - Get Values - Indexers (16.03 Experimental - will throw error!)</h1>
<p>
  Content-Type used: <code>TestGetValues</code>
</p>
@{
  var item = AsItem(App.Data["TestGetValues"].First());

  @* var show = CreateInstance("../../_Shared/ShowValues.cs"); *@
}
<ol @Kit.Toolbar.Default(item)>
  <li>Title: @item["Title"]</li>
  <li>Text: @item["Text"]</li>
  <li>String: @item["String"]</li>
  <li>Number: @item["Number"]</li>
  <li>WYSIWYG - @item["WYSIWYG"]</li>
  <li>Bool - @item["Bool"] </li>
  <li>Bool Nullable - @item["BoolNullable"] </li>
</ol>

<h3>Child.*</h3>
<ol>
  <li>child without field @item["Child"]</li>
  <li>Child.Title @item["Child.Title"]</li>
  <li>Child.Wysiwyg @item["Child.Wysiwyg"]</li>
  <li>Child.Number @item["Child.Number"]</li>
  <li>Child.Child.Number @item["Child.Child.Number"]</li>
</ol>

<h3>Children.*</h3>
<ol>
  <li>child without field @item["Children"]</li>
  <li>Children.Title @item["Children.Title"]</li>
  <li>Children.Wysiwyg @item["Children.Wysiwyg"]</li>
  <li>Children.Number @item["Children.Number"]</li>
  <li>Children.Child.Number @item["Children.Child.Number"]</li>
</ol>