@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using ToSic.Sxc.Services

<h1>Template Service</h1>
@{
  var templateSvc = Kit.Template;
  var engine = templateSvc.Default();
  var engine2 = templateSvc.Default();

  var templateQs = "[QueryString:TestPath]";

  var templateQsWrapped = $"Path is: <strong>{templateQs}</strong>";

  var myTestToken = "[My:TestValue]";
  var mySource = templateSvc.CreateSource("My", new Dictionary<string, string>
    {
      { "TestValue", "This is a test value" }
    });
  var mySources = new[] { mySource };
  var myEngine = templateSvc.Empty(sources: mySources);

  var mixedTokens = myTestToken + " and " + templateQs;

  var mixedEngine = templateSvc.Default(sources: mySources);
}
<p>
  The LookUpService should provide a way to look up values from other sources.
</p>

<h2>Template SVC direct calls</h2>

<ol>
  <li>
    Default engine / engine2 are equal (expected: true):
    <code>@(engine == engine2)</code>
  </li>
  <li>
    Quick Parse <code>@templateQs</code>:
    <br>
    <code>@templateSvc.Default().Parse(templateQs)</code>
  </li>
  <li>
    Parse <code>@mixedTokens</code> with template service and more sources in Parse(...):
    <br>
    <code>@templateSvc.Default().Parse(mixedTokens, sources: mySources)</code>
  </li>
  <li>
    Parse <code>@mixedTokens</code> with template service and more sources in Default(...):
    <br>
    <code>@templateSvc.Default(sources: mySources).Parse(mixedTokens)</code>
  </li>
</ol>

<h2>Template Engine</h2>

<ol>
  <li>
    Parse <code>@templateQs</code>:
    <br>
    <code>@engine.Parse(templateQs)</code>
  </li>

  <li>
    Parse <code>@templateQsWrapped</code>:
    <br>
    <code>@Html.Raw(engine.Parse(templateQsWrapped))</code>
  </li>
  <li>
    Parse <code>@myTestToken</code> with default engine:
    <br>
    <code>@engine.Parse(myTestToken)</code>
  </li>
  <li>
    Parse <code>@myTestToken</code> with custom engine:
    <br>
    <code>@myEngine.Parse(myTestToken)</code>
  </li>
  <li>
    Parse <code>@mixedTokens</code> with default engine:
    <br>
    <code>@engine.Parse(mixedTokens)</code>
  </li>
  <li>
    Parse <code>@mixedTokens</code> with custom engine:
    <br>
    <code>@myEngine.Parse(mixedTokens)</code>
  </li>
  <li>
    Parse <code>@mixedTokens</code> with mixed engine:
    <br>
    <code>@mixedEngine.Parse(mixedTokens)</code>
  </li>
  <li>
    Parse <code>@mixedTokens</code> with default engine and more sources:
    <br>
    <code>@engine.Parse(mixedTokens, sources: mySources)</code>
  </li>
</ol>
