@inherits Custom.Hybrid.Razor14

<h1>Controller in AppCode</h1>

<h3>get 'WebApi/api/My1/Hello' with Block</h3>
<p>expected string result: "Hello1 from AppCode."</p>
<pre id="jsonResult">...loading...</pre>
@Kit.Page.TurnOn("window.downloadJson()", data: new { Controller =  "My1", Method = "Hello", Placeholder = "jsonResult" })

<h3>get 'WebApi/api/My1/Hello' without Block</h3>
<p>expected string result: "Hello1 from AppCode."</p>
<pre id="jsonResult1">...loading...</pre>
@Kit.Page.TurnOn("window.justFetch()", data: new { route =  "WebApi/api/My1/Hello", placeholder = "jsonResult1" })

<h3>get 'api/My1/Hello' without Block</h3>
<p>expected string result: "Hello1 from AppCode."</p>
<pre id="jsonResult2">...loading...</pre>
@Kit.Page.TurnOn("window.justFetch()", data: new { route =  "api/My1/Hello", placeholder = "jsonResult2" })

<h3>get 'api/My2/Hello' without Block</h3>
<p>expected string result: "Hello2 from AppCode."</p>
<pre id="jsonResult3">...loading...</pre>
@Kit.Page.TurnOn("window.justFetch()", data: new { route =  "api/My2/Hello", placeholder = "jsonResult3" })

<h3>get 'api/My3/Hello' without Block</h3>
<p>expected string result: "Hello3 from AppCode."</p>
<pre id="jsonResult4">...loading...</pre>
@Kit.Page.TurnOn("window.justFetch()", data: new { route =  "api/My3/Hello", placeholder = "jsonResult4" })

<hr>

<h2>Controller in /api</h2>

<h3>get 'WebApi/api/My/Hello' with Block</h3>
<p>expected string result: "Hello from normal API controller in /api."</p>
<pre id="jsonResult5">...loading...</pre>
@Kit.Page.TurnOn("window.downloadJson()", data: new { Controller =  "My", Method = "Hello", Placeholder = "jsonResult5" })

<h3>get 'WebApi/api/My/Hello' without Block</h3>
<p>expected string result: "Hello from normal API controller in /api."</p>
<pre id="jsonResult6">...loading...</pre>
@Kit.Page.TurnOn("window.justFetch()", data: new { route =  "WebApi/api/My/Hello", placeholder = "jsonResult6" })

@Html.Partial("__Shared.cshtml")
