@inherits Custom.Hybrid.RazorTyped

<h1>CmsContext</h1>

@{
  var view = MyView;

  var viewMd = MyView.Metadata;

  var typedMd = AsItem(viewMd);

  var razorFileName = MyView.Metadata.String("Path");

  var viewSpecs = App.Data.GetOne<Custom.Data.CustomItem>(MyView.Id, skipTypeCheck: true);
}

<h2>View</h2>
<ol>
  <li>
    Id: @view.Id
  </li>
  <li>
    Name: @view.Name
  </li>
  <li>
    Identifier: @view.Identifier
  </li>
  <li>
    Edition: @view.Edition
  </li>
  <li>
    Metadata: @view.Metadata
    <ol>
      <li>MD Typed: @typedMd</li>
      <li>Some Field: @typedMd.Title</li>
      <li>Direct Path: @razorFileName</li>
    </ol>
  </li>
  <li>
    View Specs
    <ol>
      <li>Direct Path: @viewSpecs.String("Path")</li>
    </ol>
  </li>

  <li>
    Path: @view.Path
  </li>
  <li>
    Path Shared: @@view.PathShared (disabled)
  </li>
  <li>
    PhysicalPath: @@view.PhysicalPath (disabled)
  </li>
  <li>
    PhysicalPath: @@view.PhysicalPathShared (disabled)
  </li>
  @{
    var folder = view.Folder;
  }
  <li>
    Folder: @folder
  </li>
  <li>
    Folder Id: @folder.Id
  </li>
  <li>
    Folder Name: @folder.Name
  </li>
  <li>
    Folder Url: @folder.Url
  </li>
  <li>
    Folder Path: @folder.Path
  </li>
  <li>
    Folder PhysicalPath: @folder.PhysicalPath
  </li>
</ol>