@inherits Custom.Hybrid.RazorTyped
@using System.Linq
@using ToSic.Eav.Data
@using ToSic.Razor.Blade
@using ToSic.Sxc.Data

<h1>Strict Field Names (16.03)</h1>
<p>
  Content-Type used: <code>TestGetValues</code>
</p>
@{
  var item = AsItem(App.Data["TestGetValues"].First(x => x.Get<string>("NameId") == "root"));
  var child1 = item.Child("Child");
  var children2 = item.Children("Children").Last();
  // LooseItem = AsItem(StrictItem, strict: false); // this defaults to strict false ATM
}

<h2 @Kit.Toolbar.Default(item)>Relationships</h2>
<ol>
  <li>
    Item: @item.Id
  </li>
  <li>
    Child: @item.Child("Child").Id
  </li>
  <li>
    Children: @item.Children("Children").Count() <br>
    Parents: <br>
    @foreach (var child in item.Children("Children"))
    {
      <text>
        Child: @child.Id 
        - Parent: @child.Parent().Id 
        - Current Parent: @child.Parent(current: true).Id
        <br>
      </text>
    }
  </li>
  <li>
    Child-Parent: @item.Child("Child").Parent().Id
  </li>
  <li>
    @{
      var sharedOnChild1 = child1.Child("Children");
      var sharedOnChildren2 = children2.Child("Children");
    }
    Shared Child under child 1: @sharedOnChild1.Parent().Id / Current: @sharedOnChild1.Parent(current: true).Id <br>
    Shared Child under children 2: @sharedOnChildren2.Parent().Id / Current: @sharedOnChildren2.Parent(current: true).Id <br>
  </li>
</ol>
