@inherits Custom.Hybrid.RazorTyped
@using ToSic.Sxc.Code
@using ToSic.Sxc.Apps
@using ToSic.Sxc.Cms.Assets

<h1>App Files from DataSource</h1>

@{
  var expected = 1;
  var fileFilter = "*.cs";
  var ds = Kit.Data.GetSource<ToSic.Sxc.DataSources.AppAssets>(parameters: new {
    FileFilter = fileFilter,
    Temp = "dummy",
  });

  var folders = AsList<IFolderModel>(ds.GetStream("Folders"));
  var files = AsList<IFileModel>(ds.GetStream("Files"));

  var folder = folders.FirstOrDefault();
  var file = files.FirstOrDefault();

  var appFolder = App.Folder;
  var viewFolder = MyContext.View.Folder;
  @* var tvFolder = folders.FirstOrDefault(f => f.Url == viewFolder.Url); *@
}
<p>
  AppAssets using this file filter: @ds.FileFilter
</p>

<h2>Folder</h2>
@* Show the first folder *@
<table>
  <tr>
    <th>Property</th>
    <th>FolderTyped</th>
    <th>App.Folder</th>
    <th>View.Folder</th>
  </tr>
  <tr>
    <td>Id</td>
    <td>
      @* @folder.Id *@
    </td>
    <td>
      @* @appFolder.Id *@
    </td>
    <td>@viewFolder.Id</td>
  </tr>
  <tr>
    <td>Guid</td>
    <td>
      @* @folder.Guid *@
    </td>
    <td>⛔</td>
    <td>⛔</td>
  </tr>
  <tr>
    <td>Created</td>
    <td>@folder.Created</td>
    <td>@appFolder.Created</td>
    <td>@viewFolder.Created</td>
  </tr>
  <tr>
    <td>Modified</td>
    <td>@folder.Modified</td>
    <td>@appFolder.Modified</td>
    <td>@viewFolder.Modified</td>
  </tr>
  <tr>
    <td>Path</td>
    <td>@folder.Path</td>
    <td>@appFolder.Path</td>
    <td>@viewFolder.Path</td>
  </tr>
  <tr>
    <td>Url</td>
    <td>@folder.Url</td>
    <td>@appFolder.Url</td>
    <td>@viewFolder.Url</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>@folder.Name</td>
    <td>@appFolder.Name</td>
    <td>@viewFolder.Name</td>
  </tr>
  <tr>
    <td>FullName</td>
    <td>@folder.FullName</td>
    <td>⛔</td>
    <td>⛔</td>
  </tr>
  <tr>
    <td>Files</td>
    <td>@folder.Files.Count()</td>
    <td>⛔</td>
    @* <td>@appFolder.Files.Count()</td> *@
    <td>⛔</td>
    @* <td>@viewFolder.Files.Count()</td> *@
  </tr>
  <tr>
    <td>Folders</td>
    <td>@folder.Folders.Count()</td>
    <td>⛔</td>
    @* <td>@appFolder.Folders.Count()</td> *@
    <td>⛔</td>
    @* <td>@viewFolder.Folders.Count()</td> *@
  </tr>
</table>


<h2>First Folder</h2>
@{
  var firstFolder = folder.Folders.First();
}
<ol>
  <li>Name: @firstFolder.Name</li>
  <li>Id: @@firstFolder.Id</li>
  <li>Url: @firstFolder.Url </li>
  <li>files: @firstFolder.Files.Count() </li>
  <li>Folder: @firstFolder.Folder</li>
  <li>Folder Name: @firstFolder.Folder.Name</li>
</ol>


<h2>File</h2>
@* Show the first file *@
<ol>
  <li>Id: @@file.Id</li>
  <li>Guid: @@file.Guid</li>
  <li>Created: @file.Created</li>
  <li>Modified: @file.Modified</li>
  <li>Path: @file.Path</li>
  <li>Url: @file.Url</li>
  <li>Size: @file.Size (bytes)</li>
  <li>Name: @file.Name</li>
  <li>Extension: @file.Extension</li>
  <li>FullName: @file.FullName</li>
  <li>Folder: @file.Folder </li>
  <li>Folder Name: @file.Folder.Name </li>
</ol>

@* Old show-default list, not sure if useful, but leave for a moment *@
@Html.Partial("./../_Helpers/ShowDataInSource.cshtml", new { List = ds.List, Expected = expected })