@inherits Custom.Hybrid.RazorTyped
@using ToSic.Sxc.Code
@using ToSic.Sxc.Apps
@using ToSic.Sxc.Cms.Users
@using ToSic.Sxc.DataSources

<h1>User from DataSource</h1>

@{
  var expected = 1;
  var ds = Kit.Data.GetSource<Users>(parameters: new {
    Temp = "dummy",
  });

  var users = AsList<IUserModel>(ds);
  var userRoles = AsList<IUserRoleModel>(ds.GetStream("Roles"));

  var dsRoles = Kit.Data.GetSource<UserRoles>(parameters: new {
    Temp = "dummy",
  });
  var roles = AsList<IUserRoleModel>(dsRoles);
}

<h2>Users @users.Count()</h2>
@foreach(var user in users)
{
  var usersRoles = user.Roles.ToList();
  <h3>User @(user.Name)</h3>
  <ol>
    <li>Name: @(user.Name)</li>
    <li>Id: @(user.Id)</li>
    <li>Guid: @(user.Guid)</li>
    <li>Created: @(user.Created)</li>
    <li>Modified: @(user.Modified)</li>

    <li>
      Roles @usersRoles.Count
      <ol>
        @foreach(var role in usersRoles)
        {
          <li>@role.Name (@role.Id)</li>
        }
      </ol>
    </li>
  </ol>
}

<h2>Roles in Users DataSource @userRoles.Count()</h2>
<p>
  These are the roles provided by the Users DataSource:
</p>
@foreach(var role in userRoles)
{
  <h3>Role @(role.Name)</h3>
  <ol>
    <li>Name: @(role.Name)</li>
    <li>Id: @(role.Id)</li>
    <li>Created: @(role.Created)</li>
    <li>Modified: @(role.Modified)</li>
  </ol>
}

<h2>Roles in Roles DataSource @roles.Count()</h2>
<p>
  These are the roles provided by the Roles DataSource:
</p>
@foreach(var role in roles)
{
  <h3>Role @(role.Name)</h3>
  <ol>
    <li>Name: @(role.Name)</li>
    <li>Id: @(role.Id)</li>
    <li>Created: @(role.Created)</li>
    <li>Modified: @(role.Modified)</li>
  </ol>
}

@* Old show-default list, not sure if useful, but leave for a moment *@
@Html.Partial("./../_Helpers/ShowDataInSource.cshtml", new { List = ds.List, Expected = expected })